dask_labextension==3.0.0
ipyleaflet==0.13.3
jupyter-server-proxy==1.5.0
jupyter-vscode-proxy==0.1
pydeck==0.2.1
bleach==3.3.0
witwidget>=1.8.0
notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
tensorflow>=1.15.4 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
