name: Airflow

on:
  push:
    branches:
      - no-exist
    paths:
      - .github/workflows/airflow.yaml
      - airflow/chainguard/base/Dockerfile
      - airflow/chainguard/base/requirements.txt
#  workflow_dispatch:
#  schedule:
#    - cron: "0 9 * * 1-5"

env:
  CHAINGUARD_IMAGE: airflow-cg

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Build Airflow image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: docker/setup-buildx-action@v3

      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: projects/193123067890/locations/global/workloadIdentityPools/ci-knada-images/providers/ci-knada-images
          service_account: ci-knada-images@knada-gcp.iam.gserviceaccount.com

      - uses: docker/login-action@v3
        name: Login to Google Artifact Registry
        with:
          registry: europe-north1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - uses: docker/login-action@v3
        name: Login to GitHub Container Registry
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "TAG=$(git log -1 --pretty=%ad --date=format:%Y%m%d-%H%M%S)" >> $GITHUB_ENV

      - uses: docker/build-push-action@v6
        with:
          file: airflow/chainguard/base/Dockerfile
          push: true
          tags: |
            # europe-north1-docker.pkg.dev/knada-gcp/knada-north/${{ env.CHAINGUARD_IMAGE }}:${{ env.TAG }}
            ghcr.io/${{ github.repository }}/${{ env.CHAINGUARD_IMAGE }}:${{ env.TAG }}
